{% extends "::base.html.twig" %}
{% use 'form_div_layout.html.twig' with form_label as base_form_label %}

{% block form_label %}
    {{ block('base_form_label') }}

    {% if required %}
        <span class="required" title="Este campo es requerido">*</span>
    {% endif %}
{% endblock %}

{% block title "Soporte - Categoria" %}

{% block body %}
    
    <div class="panel panel-default" style="width: 900px;">
        <!-- Default panel contents -->
        <div class="panel-heading">Lista de Categorias</div>
            <div class="panel-body">
                <p>A continuación se muestran las categorias cargadas en el sistema</p>
            </div>
            
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th style="text-align: center">Descripción</th>
                        <th style="text-align: center">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for categoria in pagination %}
                    <tr {% if loop.index is odd %}class="color"{% endif %}>
                        <td>{{ categoria.nombreCategoria }}</td>
                        <td>{{ categoria.id }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
    </div>
    <div class="navigation">
        {{ knp_pagination_render(pagination, "", {}, { "prev_label": "Anterior", "next_label": "Siguiente", "first_label": "Inicio", "last_label": "Fin"}) }}
    </div>
    
{% endblock %}
