{% extends "::base.html.twig" %}
{% use 'form_div_layout.html.twig' with form_label as base_form_label %}

{% block form_label %}
    {{ block('base_form_label') }}

    {% if required %}
        <span class="required" title="Este campo es requerido">*</span>
    {% endif %}
{% endblock %}

{% block title "Soporte - Formulario Categoria" %}

{% block body %}
    
    {% if st == 1 %}
        <div style="width: 450px;" class="alert alert-success" role="alert">Categoria agregada correctamente</div>
    {% endif %}
    {{ form(form) }}
{% endblock %}